<style>
    .footer {
      /* position: fixed; */
      /* left: 0;
      bottom: 0;
      width: 100%;
      background-color: red;*/
      color: white;
      text-align: center; 
    }
</style>
    
    <div class="footer">
        <div class="bg-dark" style="font-size: 30px;">
            &copy; 
            <span class="text-center" style="font-family: 'akronim', cursive; cursor: pointer; color: white;">
                <{CODINGPOSTS}>
            </span>
            : 2K20
        </div>
    </div> 
</body>
</html>